/*
    Custom CSS for the pricing page
*/


/*
    Pricing Table
*/

.p-card {
    width: max(200px, 20% - 10px);
    height: 80vh;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.p-card-header {
    width: 280px;
    height: 40%;
    background-image:linear-gradient(to bottom right, rgba(1, 79, 143, .96), rgba(121, 4, 156, 0.96), rgba(52, 4, 66, 0.96)), url('../images/bg_patern.png');
    border-radius: 10px 10px 95px 95px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    transform: translateY(0px);
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center center;
}

.p-center-p {
    background-image:linear-gradient(to bottom right, rgba(0, 0, 0, 0.96), rgba(121, 4, 156, 0.96), rgba(52, 4, 66, 0.96)), url('../images/bg_patern.png');
}

.p-right-p {
    background-image:linear-gradient(to bottom right, rgba(141, 1, 1, 0.96), rgba(121, 4, 156, 0.96), rgba(52, 4, 66, 0.96)), url('../images/bg_patern.png');
}

.price-tag {
    width:120px;
    height:120px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    border-radius: 90%;
    font-size: 1em;
    color: #000;
    position: absolute;
    transform: translateY(-80px);
    text-align: center;
    font-weight: bold;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}

.p-card-title {
    color: #fff;
    font-size: 1.8em;
    font-weight: bolder;
    text-transform: uppercase;
    margin-top: 3.0rem;
}

.p-card-subtitle {
    background: #fff;
    padding: .2rem;
    border-radius: 25px;
    box-sizing: border-box;
    font-size: .8rem;
}

.p-card-footer {    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -15px;
}

.pricing-tag {
    position: absolute;
    right: 10px;
    box-sizing: border-box;
    display: flex;
    padding: 6px;
    color: #fff;
    flex-direction: column-reverse;
}

.form-text {
    width: 50px;
    height: 50px;
    padding: 8px;
    background: #fff;
    border-radius: 360px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: center;
}

.fc-card {
    height: 120px!important;
    box-sizing: border-box;
    display: flex;
    align-items: start;
    justify-content: center;
}